html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-image: url(http://www.splotchy.com/images/blog/solitude/20090628_saltcreek01.jpg);
  background-size: cover; }
  body::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: .4;
    z-index: -1; }

.container {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  font-size: 62.5%;
  font-family: "Roboto","Open Sans",sans-serif; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.header,
.slogan,
.image-list,
.events,
.contact,
.footer {
  float: left;
  display: block;
  margin-right: 1.0831%;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  color: white; }
  .header:last-child,
  .slogan:last-child,
  .image-list:last-child,
  .events:last-child,
  .contact:last-child,
  .footer:last-child {
    margin-right: 0; }

ul {
  list-style: none;
  padding: 0px; }

.header-logo::after {
  clear: both;
  content: "";
  display: table; }

@media screen and (min-width: mobile) {
  .header-logo {
    padding-left: 0.625em; } }

.logo {
  float: left;
  display: block;
  margin-right: 1.0831%;
  width: 32.61127%;
  margin-left: 25.27078%;
  height: 150px;
  width: 200px;
  background-color: lightgrey;
  border-radius: 25%;
  border: 4px solid white; }
  .logo:last-child {
    margin-right: 0; }
  @media screen and (min-width: 480px) {
    .logo {
      float: left;
      display: block;
      margin-right: 1.0831%;
      width: 41.03486%;
      margin-left: 37.90616%;
      text-align: center;
      height: 200px;
      width: 250px;
      padding-left: 0.9375em; }
      .logo:last-child {
        margin-right: 0; } }

.SRC-header {
  float: left;
  display: block;
  margin-right: 1.0831%;
  width: 100%;
  text-align: center;
  font-size: 5em;
  font-family: "Poiret One";
  border-bottom: 4px solid lightgrey; }
  .SRC-header:last-child {
    margin-right: 0; }

.slogan {
  text-align: center;
  font-size: 1.875em;
  font-family: "Poiret One"; }

.image-list {
  display: block; }
  .image-list::after {
    clear: both;
    content: "";
    display: table; }

.image {
  float: left;
  display: block;
  margin-right: 1.0831%;
  width: 100%;
  display: inline-block;
  text-align: center;
  height: 266px;
  position: relative;
  border: 2px solid lightgrey; }
  .image:last-child {
    margin-right: 0; }
  @media screen and (min-width: 480px) {
    .image {
      float: left;
      display: block;
      margin-right: 1.0831%;
      width: 32.61127%;
      overflow: hidden;
      vertical-align: middle; }
      .image:last-child {
        margin-right: 0; } }

.image-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-height: 270px; }

.events {
  display: none;
  font-size: 1.5625em;
  font-family: "Poiret One"; }
  @media screen and (min-width: 480px) {
    .events {
      display: block;
      text-align: center; } }

.contact {
  text-align: center;
  font-size: 1.25em; }

.number,
.email {
  font-size: 1.5625em; }

.footer {
  text-align: center;
  border-bottom: 3px solid lightgrey; }
